$screen-xsm: 320px; // Mobile Minimum Size
$screen-sm: 750px; // Mobile Maximum Size
$screen-md: 1024px;
$screen-lg: 1366px; // Tablet Maximum Size (ipad Pro)
$screen-xlg: 1680px; // Desktop Maximum Size